header {
  position: none;
  top: 0px;
  width: 50%;
  height: 19px;
  padding: 25px 0px;
  display: flex;
  justify-content: space-between;
  align-items: left;
  background-color: rgb(228, 171, 228);
  opacity: 0.7;
}
body {
  position: below;
  background-color: rgb(253, 249, 249);
  align-items: center;
}
